Generating financial expenditure data

In [28]:
from faker import Faker
import pandas as pd
import numpy as np
import random

In [29]:
fake = Faker("en_us")

In [30]:
def generate_financial_data():
    data = []

    years = [2018, 2019, 2020, 2021, 2022, 2023, 2024] # hard-coded
    months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

    for year in years:
        for month in months:
            total_funding = random.uniform(10000, 30000)  # example range for monthly revenue
            administrative_cost = random.uniform(10000, 30000)
            operational_cost = random.uniform(20000, 50000)
            infrastructure_cost = random.uniform(15000, 40000)
            supply_cost = random.uniform(5000, 20000)
            salary_cost = random.uniform(30000, 100000)
            num_patients_seen = random.randint(1000, 3000)  # patients seen per month
            
            total_expense = administrative_cost + operational_cost + infrastructure_cost + supply_cost + salary_cost
            
            record = {
                "year": year,
                "month": month,
                "total_funding": total_funding,
                "total_expense": total_expense,
                "administrative_cost": administrative_cost,
                "operational_cost": operational_cost,
                "infrastructure_cost": infrastructure_cost,
                "supply_cost": supply_cost,
                "salary_cost": salary_cost,
                "num_patients_seen": num_patients_seen
            }
            data.append(record)
    
    return pd.DataFrame(data)

In [32]:
financial_data = generate_financial_data()
print(financial_data.head(10).to_string(index=False))

 year  month  total_funding  total_expense  administrative_cost  operational_cost  infrastructure_cost  supply_cost  salary_cost  num_patients_seen
 2018      1   29835.193894  179919.108200         16508.163010      31134.324345         37444.458874  6473.293180 88358.868791               2694
 2018      2   14604.776956  179254.437113         18116.519957      45865.289082         20377.135199 12791.143407 82104.349468               2070
 2018      3   24568.522904  181619.320554         28439.671134      23215.445012         25071.081406 14359.943266 90533.179737               1926
 2018      4   20264.650897  147235.865587         21871.288381      47645.637968         26615.010300 13953.560096 37150.368842               1208
 2018      5   25566.707747  169882.973908         13690.379160      38302.374272         26529.999286 13768.652337 77591.568853               2128
 2018      6   24650.730403  173128.308960         24725.898970      20369.833568         15683.502839 17334.216349 95014.857234               2450
 2018      7   29694.573471  123334.125252         22351.250280      26997.505167         19390.230328 12646.084524 41949.054953               1628
 2018      8   29442.634341  193162.674635         24707.090976      43198.439194         20583.585317 17642.262623 87031.296524               2265
 2018      9   12153.958689  149042.834177         25352.144337      39105.464300         25449.659681  6659.966279 52475.599579               2104
 2018     10   19075.304487  188039.893643         25198.955918      30040.095567         31750.913442 11438.507581 89611.421136               2588

In [33]:
financial_data.to_csv("data/financial_data.csv", index=False)