Generating resource allocation & staffing data

In [11]:
from faker import Faker
import pandas as pd
import numpy as np
import random

In [12]:
fake = Faker("en_us")

In [13]:
def generate_resource_data():
    data = []

    years = [2018, 2019, 2020, 2021, 2022, 2023, 2024]  # hard-coded
    months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

    for year in years:
        for month in months:
            total_funding = random.uniform(50000, 150000)  # example range for monthly funding
            
            # resource allocations (monetary)
            hr_cost = random.uniform(10000, 30000) 
            tech_cost = random.uniform(20000, 60000) 
            training_cost = random.uniform(5000, 15000)
            equipment_cost = random.uniform(10000, 30000) 
            
            # staffing allocations (number of staff members)
            hr_staff = random.randint(5, 15)
            tech_staff = random.randint(10, 50)
            clinical_staff = random.randint(20, 100)  # for healthcare-specific allocation
            admin_staff = random.randint(5, 20)
            support_staff = random.randint(5, 15)
            
            total_expense = hr_cost + tech_cost + training_cost + equipment_cost
            total_staff = hr_staff + tech_staff + clinical_staff + admin_staff + support_staff
            
            record = {
                "year": year,
                "month": month,
                "total_funding": total_funding,
                "total_expense": total_expense,
                "hr_cost": hr_cost,
                "tech_cost": tech_cost,
                "training_cost": training_cost,
                "equipment_cost": equipment_cost,
                "total_staff": total_staff,
                "hr_staff": hr_staff,
                "tech_staff": tech_staff,
                "clinical_staff": clinical_staff,
                "admin_staff": admin_staff,
                "support_staff": support_staff
            }
            data.append(record)
    
    return pd.DataFrame(data)

In [14]:
resource_data = generate_resource_data()
print(resource_data.head(10).to_string(index=False))

 year  month  total_funding  total_expense      hr_cost    tech_cost  training_cost  equipment_cost  total_staff  hr_staff  tech_staff  clinical_staff  admin_staff  support_staff
 2018      1   54879.370227   86503.074625 21037.717639 30287.886984    6376.495866    28800.974136          148         8          50              67            8             15
 2018      2  127116.681384   82353.020065 13352.361182 47599.737622    9170.829158    12230.092103          118         7          50              50            5              6
 2018      3  146721.435781   95828.833304 20182.863952 42907.409263    8773.105549    23965.454541          164         6          37              87           20             14
 2018      4  142036.937130  104561.253067 12344.642944 58582.678782   11049.636990    22584.294351          119         8          24              66            7             14
 2018      5   69614.224852  105557.576652 21393.828288 51707.613832   10720.689935    21735.444596          120        13          42              47            6             12
 2018      6  139078.660170   92387.693513 11431.279005 47083.032866   12558.710366    21314.671277          103         5          20              52           16             10
 2018      7   95671.787593   96165.770004 16066.890431 54042.597052   13648.293774    12407.988747           77         7          19              33            7             11
 2018      8   58724.249157   91845.817209 19509.924076 38987.448632   10031.230169    23317.214333          104        11          16              61           11              5
 2018      9   63729.497335   73028.150107 17176.426964 23481.304410   10611.911703    21758.507030          118         7          38              48           12             13
 2018     10  123693.391215   97195.954250 14137.499206 50248.119355   14413.939307    18396.396383           85        12          21              20           18             14

In [15]:
resource_data.to_csv("data/resource_data.csv", index=False)